
  <div class="text-gray-800 antialiased bg-gray-900 absolute w-screen h-screen" style="background-image: url(../assets/images/register_bg_2.png); background-size: cover; background-repeat: no-repeat;overflow-y: hidden;">
    <nav
      class="w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg sm:justify-center sm:py-0 sm:h-16"
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between sm:justify-center"
      >
        <div
          class="w-full flex justify-between lg:w-auto lg:static lg:block lg:justify-start sm:justify-center"
        >
         <p style="font-family: Lobster;font-style: cursive; color:white" class="text-4xl sm:text-6xl sm:mt-2">Graffi-Tee</p>
        </div>
        <a
        target="_blank"
        class="lg:text-white lg:hover:text-gray-300 text-gray-800  flex items-center text-base justify-center font-bold sm:hidden lg:block"
        href="https://t.me/graffiTee"
        ><img class="mr-4" src="https://img.icons8.com/fluent/48/000000/telegram-app.png"/>
        <p>Please join our <br/> Channel for updates</p>
        </a>

      </div>
    </nav>
    <main class="sm:mt-12">
      <section class="w-screen h-screen sm:mt-4">
        <div class="container mx-auto px-4 sm:mt-4">
          <div class="flex content-center items-center justify-center">
            <div class="w-full lg:w-4/12 px-4 mb-4">
              <div
                class="flex flex-col min-w-0 break-words w-full mb-4 shadow-lg rounded-lg bg-gray-200 border-0 sm:mb-0"
              >
                <div class="rounded-t mb-0 px-6 py-6">
                  <hr class="mt-6 border-b-1 border-gray-400" />
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  <div class="text-black-500 text-center mb-3 font-bold">
                    <p class="text-xl">Sign in to Recall your memories</p>
                  </div>
    
      
                  <form [formGroup]="form" class="mt-8">
                    <div class="w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="username"
                        >Username</label
                      ><input
                      formControlName="username" type="text" id="username" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                        placeholder="Username"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                    <div class="w-full mb-3">
                      <label
                        class="block uppercase text-gray-700 text-xs font-bold mb-2"
                        for="password"
                        >Password</label
                      ><input
                        type="password" formControlName="password" type="password" id="password" class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                        placeholder="Password"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                    <div>
                    </div>
                    <ngx-spinner
                    bdColor="rgba(255,255,255,0.8)"
                    size="medium"
                    color="#E5433E"
                    type="pacman"
                    >
                    <p style="font-size: 20px; color:black">Authenticating if you are who you thing you are :'-)</p>
                    </ngx-spinner>
                    <div class="sm:flex justify-center">
                      <div class="inline-block text-center mt-1/2 p-5">
                        <button (click)="login()"
                          class="btn-primary"
                          type="button"
                        >
                          Sign In
                        </button>
                      </div>
                      <div class="inline-block text-center mt-1/2 p-5">
                          <button routerLink="/signup"
                            class="btn-primary"
                            type="button"
                          >
                            Sign Up
                          </button>
                        </div>
                    </div>
                    
                  </form>
                </div>
              </div>
      
            </div>
          </div>
        </div>
        <div class="w-full bottom-0 bg-gray-900 pb-4 mt-2 sm:pb-0 sm:mt-0">
          <div class="container mx-auto px-4">
            <hr class="mb-6 border-b-1 border-gray-700" />
            <div
              class="flex flex-wrap items-center md:justify-between justify-center sm:flex-no-wrap sm:flex-row"
            >
              <div class="w-full md:w-4/12 px-4 sm:mb-8">
                <div class="text-sm text-white font-semibold py-1">
                 S V N I T  2020
                </div>
              </div>
              <a
        target="_blank"
        class="lg:text-white lg:hover:text-gray-300 text-gray-800  flex items-center text-base justify-center font-bold sm:hidden lg:block"
        href="https://t.me/graffiTee"
        ><img class="mr-4" src="https://img.icons8.com/fluent/48/000000/telegram-app.png"/>
        </a>
              <div class="w-full md:w-8/12 px-4 sm:self-end sm:mb-8">
                    <a
                      routerLink="/team"
                      class=" text-white hover:text-gray-400 text-sm font-semibold block py-1 px-3 sm:text-right"
                      >About Us</a
                    >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>



