<div class="overflow-hidden">

<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">Graffi-Tee</span>
    </div>

    <div class="relative mr-6 my-2">
        <input type="search" class="bg-purple-white shadow rounded border-0 p-3" placeholder="Search by name...">
        <div class="absolute pin-r pin-t mt-3 mr-4 text-purple-lighter">
           
      
        
      
        </div>
      </div>
    
  </nav>







<div class="flex border-2">
    <div class=" flex-auto sm:flex-auto md:flex-auto lg:flex-auto xl:flex-auto border-r-2 ">
        <img src="../../assets/images/tshirtFront.png" alt="present image">
    </div>
    <div class=" flex-auto  ">
       

      


      <a href="#">
        <div class="max-w-sm w-full lg:max-w-full lg:flex">
            <div class=" h-24 lg:w-24  bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('../../assets/images/tshirtFront.png')" title="Tshirt">
            </div>
            <div class="overflow-auto  bg-gray-700  sm:h-auto w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
              <div >
                <p class=" text-white flex items-center">
                  Department
                </p>
                <div class=" text-white  font-bold">Name: name1</div>
                <p class="text-white  text-base">Roll no: U16CO001</p>
              </div>
              
            </div>
          </div>
    </a>
        <br>

        <a href="#">
          <div class="max-w-sm w-full lg:max-w-full lg:flex">
              <div class=" h-24 lg:w-24  bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('../../assets/images/tshirtFront.png')" title="Tshirt">
              </div>
              <div class="overflow-auto  bg-gray-700  sm:h-auto w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div >
                  <p class=" text-white flex items-center">
                    Department
                  </p>
                  <div class=" text-white  font-bold">Name: name1</div>
                  <p class="text-white  text-base">Roll no: U16CO001</p>
                </div>
                
              </div>
            </div>
      </a>
        <br>



        <a href="#">
          <div class="max-w-sm w-full lg:max-w-full lg:flex">
              <div class=" h-24 lg:w-24  bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('../../assets/images/tshirtFront.png')" title="Tshirt">
              </div>
              <div class="overflow-auto  bg-gray-700  sm:h-auto w-full border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div >
                  <p class=" text-white flex items-center">
                    Department
                  </p>
                  <div class=" text-white  font-bold">Name: name1</div>
                  <p class="text-white  text-base">Roll no: U16CO001</p>
                </div>
                
              </div>
            </div>
      </a>
        <br><br><br>

    </div>


</div>

</div>